/* {
    outline: 1px solid red;
}*/

.container-fluid {
  overflow: hidden;
}

#allcontent {
  background-color:#F5F5F5;
  border-radius: 1%;
  padding-bottom: 20px;
  min-width: 300px;
}

.col-xs-4 img {
  min-width: 80px;
  width: 65%;
  margin: 50px auto;
}

.col-xs-3 img {
  min-width: 50px;
  width: 50%;
  margin: 50px auto 20px auto;
}

#heading {
  font-family: "Abril Fatface";
  font-size: 46px;
  padding: 40px 0px 20px 0px;
}

.subheading {
  font-family: "Abril Fatface";
  padding-bottom: 20px;
}

.rules {
  font-family: "Open Sans";
  padding-bottom: 30px;
}

.breaking_point1 {
  padding: 0px 0px 0px 0px;
  border-bottom: 3px double #9f9f9f;
}

.breaking_point2 {
  padding: 0px 0px 0px 0px;
  border-bottom: 1px solid #9f9f9f;
}
